## verticle print

In [2]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry',]
for i in fruits:
    print(i)

apple
banana
cherry
date
elderberry

## Horizontal print

In [3]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry',]
for i in fruits:
    print(i, end=' ')

apple banana cherry date elderberry

In [5]:
for x in range(5):
    print(x)

0
1
2
3
4

In [6]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
for i in range(1,6):
    print(i, end = " ")

1 2 3 4 5

In [9]:
for i in range(1, 50, 3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49

In [11]:
for i in range(1, 50, 2):
    print(i, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [23]:
for i in range(1, 21):
    if i % 2 != 0:
        print(i, end = " ")

1 3 5 7 9 11 13 15 17 19

In [25]:
for i in range(1, 20):
    if i % 2 == 0:
        i=i+1
        print(i, end = " ")

3 5 7 9 11 13 15 17 19

In [27]:
for i in range(1, 20):
    if i % 2 == 0:
        print(i+1, end = " ")

3 5 7 9 11 13 15 17 19

In [28]:
# WAP to print even number
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [20]:
# WAP to print even number
for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [1]:
for i in range(5):
    print("Sulaiman Sayeed")

Sulaiman Sayeed
Sulaiman Sayeed
Sulaiman Sayeed
Sulaiman Sayeed
Sulaiman Sayeed