In [16]:
std = {
    "Name" : ["Adnan", "Vijay", "Sulaiman", "Malik", "Rahul", "Puru"],
    "Course" : ["B.tech", "M.tech", "MCA", "B.A", "M.A", "BCA"],
    "Age" : ["22", "23", "25", "22", "29","21"],
    "Gender" : ["male", "male", "male", "male", "male", "male"],
}
print(std)

{'Name': ['Adnan', 'Vijay', 'Sulaiman', 'Malik', 'Rahul', 'Puru'], 'Course': ['B.tech', 'M.tech', 'MCA', 'B.A', 'M.A', 'BCA'], 'Age': ['22', '23', '25', '22', '29', '21'], 'Gender': ['male', 'male', 'male', 'male', 'male', 'male']}

In [2]:
# how to declare it
# how access key and value pairs
# how to use loops in dictionary
# indexing in dictionary

In [3]:
temp = {
    "lucknow" : [38,23,45],
    "delhi" : [32,33,42],
    "mumbai" : [23, 18, 20],
}
print(temp, end= " ")

{'lucknow': [38, 23, 45], 'delhi': [32, 33, 42], 'mumbai': [23, 18, 20]}

In [4]:
info = dict(name = "Sulaiman", age = 30, grade = "M.A")
print(info)

{'name': 'Sulaiman', 'age': 30, 'grade': 'M.A'}

In [5]:
emplyee = dict(name = input("enter your name: "), age = int(input("enter your age: ")), employee_code = int(input("enter employee code: ")), tenure = int(input("enter your tenure: ")))
print(emplyee)

{'name': 'Sulaiman', 'age': 30, 'employee_code': 52261127, 'tenure': 1}

In [6]:
# first methode to access value through key
print(std["Name"])
print(info["name"])

['Adnan', 'Vijay', 'Sulaiman', 'Malik', 'Rahul', 'Puru']
Sulaiman

In [7]:
# 2nd mehode to access value through key
print(std.get("Course"))

['B.tech', 'M.tech', 'MCA', 'B.A', 'M.A', 'BCA']

In [8]:
# to add new key-value pair
std["father_name"] = "Shamshad Ahmad"
print(std)

{'Name': ['Adnan', 'Vijay', 'Sulaiman', 'Malik', 'Rahul', 'Puru'], 'Course': ['B.tech', 'M.tech', 'MCA', 'B.A', 'M.A', 'BCA'], 'Age': ['22', '23', '25', '22', '29', '21'], 'Gender': ['male', 'male', 'male', 'male', 'male', 'male'], 'father_name': 'Shamshad Ahmad'}

In [9]:
for i in std:
    print(i)

Name
Course
Age
Gender
father_name

In [14]:
std["Name"] = "Radha"
print(std)

{'Name': 'Radha', 'Course': ['B.tech', 'M.tech', 'MCA', 'B.A', 'M.A', 'BCA'], 'Age': ['22', '23', '25', '22', '29', '21'], 'father_name': 'Shamshad Ahmad'}

In [11]:
# to delete a key-value pair
del std["Gender"]
print(std)

{'Name': 'Radha', 'Course': ['B.tech', 'M.tech', 'MCA', 'B.A', 'M.A', 'BCA'], 'Age': ['22', '23', '25', '22', '29', '21'], 'father_name': 'Shamshad Ahmad'}

In [12]:
print(std)

{'Name': 'Radha', 'Course': ['B.tech', 'M.tech', 'MCA', 'B.A', 'M.A', 'BCA'], 'Age': ['22', '23', '25', '22', '29', '21'], 'father_name': 'Shamshad Ahmad'}

In [17]:
std["Name"].append("Radha")
std["Age"].append(20)
std["Course"].append("home science")
std["Gender"].append("Female")
print(std)

{'Name': ['Adnan', 'Vijay', 'Sulaiman', 'Malik', 'Rahul', 'Puru', 'Radha'], 'Course': ['B.tech', 'M.tech', 'MCA', 'B.A', 'M.A', 'BCA', 'home science'], 'Age': ['22', '23', '25', '22', '29', '21', 20], 'Gender': ['male', 'male', 'male', 'male', 'male', 'male', 'Female']}

In [ ]:
print(std.keys())
print(std.values())
print(std.items())

dict_keys(['Name', 'Course', 'Age', 'Gender'])
dict_values([['Adnan', 'Vijay', 'Sulaiman', 'Malik', 'Rahul', 'Puru', 'Radha', 'Radha', 'Radha'], ['B.tech', 'M.tech', 'MCA', 'B.A', 'M.A', 'BCA', 20, 'home science', 'home science'], ['22', '23', '25', '22', '29', '21', 20], ['male', 'male', 'male', 'male', 'male', 'male', 'Female', 'Female']])
dict_items([('Name', ['Adnan', 'Vijay', 'Sulaiman', 'Malik', 'Rahul', 'Puru', 'Radha', 'Radha', 'Radha']), ('Course', ['B.tech', 'M.tech', 'MCA', 'B.A', 'M.A', 'BCA', 20, 'home science', 'home science']), ('Age', ['22', '23', '25', '22', '29', '21', 20]), ('Gender', ['male', 'male', 'male', 'male', 'male', 'male', 'Female', 'Female'])])

In [ ]:
for i,n in std.items():
    print(f"{i} : {n}", end= " ")

Name : ['Adnan', 'Vijay', 'Sulaiman', 'Malik', 'Rahul', 'Puru', 'Radha', 'Radha', 'Radha'] Course : ['B.tech', 'M.tech', 'MCA', 'B.A', 'M.A', 'BCA', 20, 'home science', 'home science'] Age : ['22', '23', '25', '22', '29', '21', 20] Gender : ['male', 'male', 'male', 'male', 'male', 'male', 'Female', 'Female']

In [ ]:
# nested Dictionary
company = {
    "emp001" : {"name": "Alice", "Age":30, "Department" : "HR"},
    "emp002" : {"Name": "Bob", "Age" : 32, "Department": "IT"},
    "emp003" : {"name": "Charlie", "Age": 35, "Department": "Finance"},
}
print(company)

{'emp001': {'name': 'Alice', 'Age': 30, 'Department': 'HR'}, 'emp002': {'Name': 'Bob', 'Age': 32, 'Department': 'IT'}, 'emp003': {'name': 'Charlie', 'Age': 35, 'Department': 'Finance'}}

In [ ]:
from pprint import pprint

In [ ]:
pprint(company)

{'emp001': {'Age': 30, 'Department': 'HR', 'name': 'Alice'},
 'emp002': {'Age': 32, 'Department': 'IT', 'Name': 'Bob'},
 'emp003': {'Age': 35, 'Department': 'Finance', 'name': 'Charlie'}}

In [ ]:
company["emp003"]["Department"]

'Finance'

In [ ]:
# calculate the average temperature of lucknow

In [18]:
min_temp = int(input("Enter min tempretature: "))
max_temp = int(input("Enter max temperature: "))
ave_temp = (min_temp+max_temp)/2
print(ave_temp)

31.0