In [2]:
# Set oprations

set1 = {"mango", "banana", "pineapple", 1, 34, 61, "cherry", "custured appale", "litchi", "grapes", "mango", "cherry", 34, 27, 61}
set2 = {"mango", "pears", "pomegratnets", 14, 44, 61, "cherry", "appale", "Jamun", "berry", "Sitaphal", "cherry", 34, 27, 61}
print(set1)
print(set2)

{1, 34, 'cherry', 27, 'litchi', 'grapes', 'mango', 'custured appale', 'pineapple', 'banana', 61}
{'appale', 34, 'Sitaphal', 'cherry', 'pears', 'pomegratnets', 44, 14, 'mango', 'Jamun', 27, 61, 'berry'}

In [3]:
# union operation
print(set1.union(set2)) #union method
print(set1|set2) # second methid of union

{'appale', 1, 'cherry', 14, 'grapes', 'custured appale', 'pineapple', 27, 'banana', 34, 'Sitaphal', 'pears', 'pomegratnets', 44, 'litchi', 'mango', 'Jamun', 61, 'berry'}
{'appale', 1, 'cherry', 14, 'grapes', 'custured appale', 'pineapple', 27, 'banana', 34, 'Sitaphal', 'pears', 'pomegratnets', 44, 'litchi', 'mango', 'Jamun', 61, 'berry'}

In [4]:
# intersection 
print(set1.intersection(set2))
print(set1&set2)

{34, 'cherry', 'mango', 27, 61}
{34, 'cherry', 'mango', 27, 61}

In [5]:
print(set1.difference(set2))
print(set1 - set2)

{1, 'litchi', 'grapes', 'custured appale', 'pineapple', 'banana'}
{1, 'litchi', 'grapes', 'custured appale', 'pineapple', 'banana'}

In [6]:
# symmetric_difference
print(set1.symmetric_difference(set2))
print(set1^set2)

{'appale', 1, 'Sitaphal', 'pears', 'pomegratnets', 44, 14, 'litchi', 'grapes', 'custured appale', 'Jamun', 'pineapple', 'banana', 'berry'}
{'appale', 1, 'Sitaphal', 'pears', 'pomegratnets', 44, 14, 'litchi', 'grapes', 'custured appale', 'Jamun', 'pineapple', 'banana', 'berry'}

In [ ]:
# Superset
print(set1.issuperset(set2))

False

In [ ]:
# subset
print(set1.issubset(set2))

False

In [10]:
set1 = {"mango", "banana", "pineapple", 1, 34, 61, "cherry", "custured appale", "litchi", "grapes", "mango", "cherry", 34, 27, 61}
set2 = {"pineapple", 1, 34, 61, "cherry", "custured appale", "litchi"}
print(set1.issuperset(set2))

True

In [11]:
print(set2.issubset(set1))

True

In [ ]:
print("Je t'aime") bonjour

Je t'aime

In [1]:
a = "hello"
print(set(a))

{'o', 'l', 'e', 'h'}